.poetry-generator-container {
    background-image: url('https://images.unsplash.com/photo-1561620831-9b2d86d81226?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
     /* Remove padding */
     /* Remove margin */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    height: 100%; /* Ensure full height */
    width: 100vw; /* Ensure full width */
    text-align: center;
    box-sizing: border-box;
    padding: 100px; /* Include padding and border in the element's total width and height */
  }
  
  .poetry-generator-content {
    opacity: 0.85;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.9);
    width: 100%; /* Make content take full width */
    max-width: none; /* Remove max-width restriction */
    height: calc(100% - 40px); /* Adjust height based on padding */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    gap: 40px;
    box-sizing: border-box;
     /* Include padding and border in the element's total width and height */
  }
  
  
  .poetry-generator-form-container {
    flex: 1;
    margin-bottom: 24px;
  }
  
  .poetry-generator-output-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
  }
  
  .poetry-generator-output {
    width: 100%;
    display: none;
  }
  
  .poetry-generator-output.show {
    display: block;
  }
  
  .react-speedometer-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 0; /* Remove bottom margin */
  }
  